.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
.env
docs_build
site_build
venv
docs.zip
archive.zip

# vim temporary files
*~
.*.sw?
.cache

# macOS
.DS_Store


#prod compose file
deployment-docker-compose.yml

alembic/versions/*

# Ignore all merged_df files
merged_df*.csv

# Ignore all output files
output*.csv

# Ignore all user_inputs files
user_inputs*.csv

# Ignore lock files for user_inputs, merged_df and output files
.~lock.merged_df*.csv#
.~lock.output*.csv#
.~lock.user_inputs*.csv#
