.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
.env
docs_build
site_build
venv
docs.zip
archive.zip

# vim temporary files
*~
.*.sw?
.cache

# macOS
.DS_Store


#prod compose file
deployment-docker-compose.yml

alembic/versions/*
output.csv
merged_df.csv
.~lock.output.csv#
.~lock.merged_df.csv#
merged_df_1.csv
merged_df_2.csv
merged_df_4.csv
.~lock.merged_df_14.csv#
.~lock.output_13.csv#
.~lock.output_14.csv#
merged_df_13.csv
merged_df_14.csv
output_13.csv
output_14.csv
